<ion-view view-title="Tentang Sandi Morse">
  <ion-content padding="true">
    <h1>Kode Morse</h1>
    <p>Kode Morse atau 'Sandi Morse' adalah sistem representasi huruf, angka, tanda baca dan sinyal dengan menggunakan kode titik dan garis yang disusun mewakili karakter tertentu pada alfabet atau sinyal (pertanda) tertentu yang disepakati penggunaannya di seluruh dunia. Kode Morse diciptakan oleh Samuel F.B. Morse dan Alfred Vail pada tahun 1835.
    </p>

    <h4>Awal penggunaan</h4>
    <p>Kode morse pertama kali digunakan secara luas setelah teknologi radio dan telegrafi berkembang pesat di akhir abad ke-19. Pada awal-awal penggunaannya kode morse dipakai untuk pengiriman pesan antara dua tempat yang terpisah jauh dengan menggunakan teknologi radio CW (constant wave) atau gelombang tetap sebelum ditemukannya komunikasi radio dengan suara. Hal ini dikarenakan radio pada masa awalnya masih pada penggunaan gelombang rendah, yang tidak mampu mengirimkan gelombang suara, namun dapat mengirimkan bunyi sederhana seperti bunyi panjang-pendek dari kode morse.
    </p>
    <p>
    </p>
    <p>
    Kode morse tidak lagi dipergunakan sebagai modul komunikasi resmi Angkatan Laut internasional pada tahun 1997 dan diganti dengan sistem GMDSS yang menggunakan satelit, bukannya gelombang radio, namun sampai saat ini kode morse masih aktif digunakan dalam komunikasi jarak jauh antar kapal laut atau menara darat internasional.
    </p>
    <p>Penggunaan sipil</h4>
    <p></p>
    <p>
    Tombol transmisi morse tipe satu tombol. Model ini umum digunakan sejak Perang Dunia ke-2. Kini model varian dua tombol (masing-masing untuk titik dan garis) lebih umum digunakan dalam pengiriman kode morse.
    Pada masa awal perkembangannya hingga pertengahan abad ke-20, kode morse yang dikirim melalui telegraf adalah media komunikasi yang jangkauannya terluas dan tercepat, dan menjadi sarana utama pengiriman berita di kantor-kantor pos di seluruh dunia hingga saat telepon menjadi populer di masyarakat. Namun hingga saat ini, radio amatir (radio non pemerintah, komersial maupun militer), termasuk ORARI Indonesia masih aktif menggunakan kode morse baik untuk berkomunikasi maupun berpartisipasi dalam kontes.
    </p>
    <p></p>

    <p>Kode morse juga masih dicantumkan dalam pedoman radiotelepon Organisasi Penerbangan Sipil Internasional (ICAO), walaupun hanya digunakan dalam keadaan tertentu saja. Pelayaran sipil juga masih menggunakan kode morse untuk komunikasi jarak jauh.
    </p>
    <p></p>
    <p>Sinyal yang paling umum disepakati dan digunakan dalam Kode Morse adalah sinyal "SOS" (... --- ...), yaitu kode yang digunakan sebagai tanda adanya bahaya yang telah disepakati oleh berbagai perjanjian maritim internasional, dan di beberapa negara dan wilayah menggunakan tanda ini di luar situasi gawat darurat dapat berakibat kepada ancaman hukuman. Kapal yang berada dalam bahaya dapat mengirimkan tanda ini sebagai sinyal darurat, baik dalam bentuk sinyal radio, lampu tanda, peluit atau bendera.</p>
    <p></p>

    <h4>Kode morse dalam kepramukaan</h4>
    <p>Kode morse juga digunakan dan dipelajari di dunia kepramukaan atau kepanduan. Dalam dunia kepramukaan kode morse disampaikan menggunakan senter atau peluit pramuka. Kode morse disampaikan dengan cara menuip peluit dengan durasi pendek untuk mewakili titik dan meniup peluit dengan durasi panjang untuk mewakili garis.</p>
    <p></p>
    <p>Untuk menghafalkan kode ini digunakan metode yang mengelompokkan huruf-huruf berdasarkan bagaimana huruf ini diwakili oleh kode morsenya. Pengelompokan tersebut antara lain Alphabet dengan kode morse yang berkebalikan antara titik dan garis, misalnya huruf K yang diwakili oleh -.- berkebalikan dengan huruf R yang diwakili oleh .-. dan alfabet dengan kode morse berlawanan. Misalnya, huruf A yang diwakili oleh .- dan huruf N yang diwakili oleh -.</p>
    <p></p>
    <p>Kemampuan menerima dan mengirimkan kode morse merupakan salah satu dari kecakapan yang dapat menerima Tanda Kecakapan Khusus. Kode morse juga digunakan sebagai kunci dalam memecahkan Sandi Rumput.</p>
  </ion-content>
</ion-view>
